<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<div style="padding:10%;">
  <p><strong>EDIT TOPIC</strong></p>

  <p>ATTENTION - Rajouter la source de l'auteur si l'icone et/ou l'image ne sont pas sous licence full-open</p>
  <%= simple_form_for(@topic) do |f| %>
  <%= f.input :name%>
  <%= f.input :short_name %>
  <%= f.input :icon_asset%>
  <%= f.submit "EDIT topic", class: "btn btn-primary" %>
<% end %>
</div>
