<div class="categories-bar-container hidden-xs">
  <div class="row">
    <div class="col-xs-12">
      <div class="categories-bar-card">
        <%= link_to videos_path do %>
          <%= image_tag "all-icon.png", class: "categories-bar-icon" %>
          <p class="categories-bar-card-link">Latest Videos</p>
        <% end %>
      </div>
    </div>
  </div>
  <p class="categories-bar-title">Topics</p>
  <% @topics = Topic.first(4) %>
    <% new_row_tracker = 0 %>
    <% @topics.each do |topic| %>
      <% if new_row_tracker.even? %>
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <div class="categories-bar-card">
              <%= link_to(topic_path(topic.id)) do %>
                <%= image_tag "#{topic.icon_asset}", class: "categories-bar-icon" %>
                <p class="categories-bar-card-link"><%= topic.short_name %></p>
              <% end %>
            </div>
          </div>
      <% else  %>
          <div class="col-xs-12 col-lg-6">
            <div class="categories-bar-card">
              <%= link_to(topic_path(topic.id)) do %>
                <%= image_tag "#{topic.icon_asset}", class: "categories-bar-icon" %>
                <p class="categories-bar-card-link"><%= topic.short_name %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% new_row_tracker += 1 %>
    <% end %>
    <div class="centered-div">
      <div id="expand-categories">
        <div class="arrow-down"></div>
      </div>
    </div>
    <hr>
  </div>
</div>
<script>

function unexpand() {
const unexpandCategories = document.getElementById("unexpand-categories");
  unexpandCategories.addEventListener("click", (event) => {
    categories.innerHTML = content;
    expand();
});
};

function expand() {
  const expandCategories = document.getElementById("expand-categories");
  expandCategories.addEventListener("click", (event) => {
    var categories = document.getElementById("categories");
    content = categories.innerHTML
    categories.innerHTML = "<%= j (render 'shared/categoriesbarexpanded') %>";
    unexpand();
});
};

expand();

</script>
