<div class="categories-bar-container hidden-xs">
  <p class="categories-bar-title">Discover</p>
  <div class="row">
    <div class="col-xs-12">
      <div class="search-wrapper">
        <form action="/videos" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="text"
                 name="query"
                 id="query"
                 value="<%= params[:query] %>"
                 class="search-box"
                 autocomplete="off"
                 placeholder="Find a video" />
          <input name="" class="search-btn" type="submit" value="" />
        </form>
      </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <div class="categories-bar-card">
        <%= link_to videos_path do %>
          <%= image_tag "all-icon.png", class: "categories-bar-icon" %>
          <p class="categories-bar-card-link">Latest videos</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="categories-bar-card">
        <%= link_to random_videos_path, "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
          <%= image_tag "random-icon.png", class: "categories-bar-icon" %>
          <p class="categories-bar-card-link">Random video</p>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <p class="categories-bar-title">Categories</p>
  <% @topics = Topic.first(4) %>
    <% new_row_tracker = 0 %>
    <% @topics.each do |topic| %>
      <% if new_row_tracker.even? %>
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <div class="categories-bar-card">
              <%= link_to(topic_path(topic.id)) do %>
                <%= image_tag "#{topic.icon_asset}", class: "categories-bar-icon" %>
                <p class="categories-bar-card-link"><%= topic.short_name %></p>
              <% end %>
            </div>
          </div>
      <% else  %>
          <div class="col-xs-12 col-lg-6">
            <div class="categories-bar-card">
              <%= link_to(topic_path(topic.id)) do %>
                <%= image_tag "#{topic.icon_asset}", class: "categories-bar-icon" %>
                <p class="categories-bar-card-link"><%= topic.short_name %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% new_row_tracker += 1 %>
    <% end %>
    <div class="centered-div">
      <div id="expand-categories">
        <div class="arrow-down"></div>
      </div>
    </div>
    <hr>
  </div>
</div>
<script>

function unexpand() {
const unexpandCategories = document.getElementById("unexpand-categories");
  unexpandCategories.addEventListener("click", (event) => {
    categories.innerHTML = content;
    expand();
});
};

function expand() {
  const expandCategories = document.getElementById("expand-categories");
  expandCategories.addEventListener("click", (event) => {
    var categories = document.getElementById("categories");
    content = categories.innerHTML
    categories.innerHTML = "<%= j (render 'shared/categoriesbarexpanded') %>";
    unexpand();
});
};

expand();

</script>
