  <div class="content-area-container">
  <div class="content-area-header" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "main-header.png"  %>');">
  </div>
    <div class="pagination-wrapper">
      <div class="hidden-lg hidden-md hidden-sm col-xs-6 col-xs-offset-3 " style="margin-top:20px;">
          <form action="/videos" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input type="text"
                   name="query"
                   id="query"
                   value="<%= params[:query] %>"
                   class="search-box-sub"
                   autocomplete="off"
                   placeholder="Search"
                   style="margin-bottom:0px;" />
            <input name="" class="search-btn" type="submit" value="" />
          </form>
    </div>
    </div>
      <div class="pagination-wrapper">
        <%= will_paginate @videos, :outer_window => '1', :inner_window => '2', :previous_label => 'Previous', :next_label => 'Next' %>
     </div>
  <div class="content-area-videos">    
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <% if params[:query] != nil %>
    <br>
    <% end %>
    <% @videos.each_with_index do |video, index|  %>
      <% if index == 0 && ( params[:page] == "1" || params[:page] == nil ) %>
          <div class="col-md-8">
            <div class="video-card">
              <%= link_to video_path(@videos.first.id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
              <div class="video-card-cover-top" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%), url('<%= cl_image_path @videos.first.photo, height: 300, width: 400, crop: :fill %>')">
                <p class="video-card-top-title"><%= @videos.first.title %></p>
              </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-6 col-md-4">
            <div class="video-card">
              <%= link_to video_path(@videos.second.id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
              <div class="video-card-cover" style="background-image: url('<%= cl_image_path @videos.second.photo, height: 300, width: 400, crop: :fill %>');">
                <div class="video-card-duration-box"><%= @videos.second.duration %></div>
              </div>
              <div class="video-card-sub">
                <p class="video-card-sub-title"><%= @videos.second.title %></p>
              </div>
            <% end %>
            </div>
          </div>
       
      <% end %>
      <% unless ( index == 0 || index == 1 ) && (params[:page] == "1" || params[:page] == nil) %>
   
   
            <div class="col-xs-6 col-md-4">
              <div class="video-card">
                <%= link_to video_path(video.id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
                <div class="video-card-cover" style="background-image: url('<%= cl_image_path video.photo, height: 300, width: 400, crop: :fill %>');">
                  <div class="video-card-duration-box"><%= video.duration %></div>
                </div>
                <div class="video-card-sub">
                  <p class="video-card-sub-title"><%= video.title %></p>
                </div>
                <% end %>
              </div>
            </div>
         

      <% end %>
    <% end %>
  </div>    
 <div class="pagination-wrapper">
      <%= will_paginate @videos, :outer_window => '1', :inner_window => '2', :previous_label => 'Previous', :next_label => 'Next' %>
   </div>
</div>

<script>
$(".modal").click(function(e){
  if (e.target == this) {
    $("iframe").remove();
    console.log("OK");
  }
});
</script>