  <div class="content-area-container">
  <div class="content-area-header" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "main-header.png"  %>');">
  </div>
    <br>
  <div class="content-area-videos">    
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="video-card">
          <%= link_to video_path(@videos.first.id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
          <div class="video-card-cover-top" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%), url('<%= cl_image_path @videos.first.photo, height: 300, width: 400, crop: :fill %>')">
            <p class="video-card-top-title"><%= @videos.first.title %>  |  <%= @videos.first.speaker.name %></p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="video-card">
          <%= link_to video_path(@videos[1].id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
          <div class="video-card-cover" style="background-image: url('<%= cl_image_path @videos[1].photo, height: 300, width: 400, crop: :fill %>');">
            <div class="video-card-duration-box"><%= @videos[1].duration %></div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title"><%= @videos[1].title %>  |  <%= @videos[1].speaker.name %></p>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <% new_row_tracker = 0 %>
    <% @videos.each_with_index do |video, index|  %>
      <% unless index == 0 || index == 1  %>
        <% if (new_row_tracker % 3) == 0 %>
          <div class="row">
            <div class="col-lg-4">
              <div class="video-card">
                <%= link_to video_path(video.id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
                <div class="video-card-cover" style="background-image: url('<%= cl_image_path video.photo, height: 300, width: 400, crop: :fill %>');">
                  <div class="video-card-duration-box"><%= video.duration %></div>
                </div>
                <div class="video-card-sub">
                  <p class="video-card-sub-title"><%= video.title %>  |  <%= video.speaker.name %></p>
                </div>
                <% end %>
              </div>
            </div>
        <% else %>
            <div class="col-lg-4">
              <div class="video-card">
                <%= link_to video_path(video.id), "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg" do %>
                <div class="video-card-cover" style="background-image: url('<%= cl_image_path video.photo, height: 300, width: 400, crop: :fill %>');">
                  <div class="video-card-duration-box"><%= video.duration %></div>
                </div>
                <div class="video-card-sub">
                  <p class="video-card-sub-title"><%= video.title %>  |  <%= video.speaker.name %></p>
                </div>
                <% end %>
              </div>
            </div>
          <% closing_div_tester = new_row_tracker + 1 %>
          <% if (closing_div_tester % 3) == 0 %>
          </div>
          <% end  %>
        <% end %>
        <% new_row_tracker += 1 %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
$(".modal").click(function(e){
  if (e.target == this) {
    $("iframe").remove();
    console.log("OK");
  }
});
</script>