<div class="content-area-container">
  <div class="content-area-header" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "vr-header.png"  %>');">
  </div>
    <br>
  <div class="content-area-videos">
    <div class="row">
      <div class="col-lg-8">
        <div class="video-card">
          <div class="video-card-cover-top" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <p class="video-card-top-title">Tech Trends 2017: Exponential technology trends to watch</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Tech Trends 2017: Exponential technology trends to watch</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Tech Trends 2017: Exponential technology trends to watch</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Tech Trends 2017: Exponential technology trends to watch</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Tech Trends 2017: Exponential technology trends to watch</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Tech Trends 2017: Exponential technology trends to watch</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover" style="background-image: radial-gradient(ellipse at center, rgba(173,95,0,0.3) 0%, rgba(138,76,0,0.3) 50%), url('<%= asset_path "video-bk-test.png"  %>');">
            <div class="video-card-duration-box">10:21</div>
          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover">

          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover">

          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <div class="video-card-cover">

          </div>
          <div class="video-card-sub">
            <p class="video-card-sub-title">Video Title</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>Video Title</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>Video Title</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="video-card">
          <p>Video Title</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>Video Title</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="video-card">
          <p>Video Title</p>
        </div>
      </div>
    </div>
  </div>
</div>
